 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Most popular Data Science languages
- Commonly used Data Science libraries
+ Data Science development environment tools (table)
* Some arithmetic expressions

Some of the most popular data science languages are:

1. Python
2. R
3. SQL
4. Javascript
5. Julia

Some of the most commonly used data science libraries are:

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. PyTorch
6. TensorFlow

#Table of Data Science tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Apache Zeppelin |
| Rstudio |

### There are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is the simple arithmetic expression of mutiplication and then addition of integers

(3*4)+5

17

In [3]:
# This code will convert 200 minutes to hours by diving with 60.

minutes = 200
hours = 200/60
hours

3.3333333333333335

## Author

Ahmad Jawad Mughal